@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: 'Space Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* max-height: 100vh; */
}

#root,
html,
body {
  min-height: 100%;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
/* *:not(dialog) {
  margin: 0;
} */
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

label {
  font-size: 15px;
  font-weight: 400;
}

input,
textarea {
  border-radius: 9px;
  padding: 7px;
}

input {
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.dark input {
  border: 1px solid rgba(175, 168, 168, 0.5);
  background-color: rgba(35, 35, 35, 0.337);
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@theme {
  --animate-rotate-right: rotate-right 0.1s ease-in-out;
  --animate-rotate-left: rotate-left 0.05s ease-in-out;
  --animate-slide-down-1: slide-down 0.3s ease-in-out;
  --animate-slide-down-2: slide-down 0.4s ease-in-out;
  --animate-slide-down-3: slide-down 0.5s ease-in-out;
  --animate-slide-down-4: slide-down 0.6s ease-in-out;
  --animate-slide-up: slide-up 0.4s ease-in-out;
  --animate-slide-in: slide-in 0.8s ease-in-out;
}

@keyframes rotate-right {
  from {
    transform: rotate(-45deg);
  }

  to {
    transform: rotate(0deg);
  }
}
@keyframes rotate-left {
  from {
    translate: rotate(0);
  }

  to {
    transform: rotate(-45deg);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-40px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(40px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100vw);
  }

  50% {
    transform: translateX(10vw);
  }

  to {
    transform: translateX(0%);
  }
}
